Source: ros-groovy-control
Section: misc
Priority: extra
Maintainer: Willow Garage <control_msgs@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-control-msgs
Homepage: http://ros.org/wiki/control_msgs
Standards-Version: 3.9.2

Package: ros-groovy-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-control-msgs
Description: This package is essentially an alias for control_msgs, for backward compatibility. Do not depend on this package.
